<div class="py-6">
  <p class="text-lg font-medium text-center mb-4">Hello <%= @resource.email %>!</p>
  <p class="text-sm text-gray-600 text-center">Someone has requested a link to change your password. You can do this through the link below.</p>
  <p class="text-center">
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "text-indigo-600 font-medium hover:text-indigo-500" %>
  </p>
  <p class="text-sm text-gray-600 text-center">If you didn't request this, please ignore this email.</p>
  <p class="text-sm text-gray-600 text-center">Your password won't change until you access the link above and create a new one.</p>
</div>
